fastapi==0.116.1
starlette==0.47.2
uvicorn==0.35.0
aiofiles
python-multipart
websockets==15.0.1
httpx==0.28.1
anyio==4.9.0
python-dotenv==1.1.1
pydantic==2.11.7
pydantic-core==2.33.2
typing-extensions==4.14.1
assemblyai==0.43.1
google-generativeai==0.8.5
tavily-python==0.5.0
ffmpeg-python==0.2.0
pydub==0.25.1
requests==2.32.4
protobuf==5.29.5